city-detail-view{

    h2{
        font-size: 20px;
        font-weight: 300;
    }

    .city-detail-view--title{
        margin-bottom: 15px;

        h2, svg{
            display: inline-block;
            vertical-align: middle;        
        }

    }

    .city-detail-view--imagecontainer{
        width: 300px;
        height: 300px;
        float: right;
        border-radius: 150px;
        overflow: hidden;

        img{
            width: auto;
            height: 300px;
        }
    }


    .city-detail-view--forecast-list{
        list-style: none;   

        li{
            margin-bottom: 10px;
        }
    }
    
}
