<div class="city-detail-view--title">
    <svg style="width:24px;height:24px" viewBox="0 0 24 24">
        <path fill="#000000" d="M12,20A6,6 0 0,1 6,14C6,10 12,3.25 12,3.25C12,3.25 18,10 18,14A6,6 0 0,1 12,20Z" />
    </svg>
    <h2>
        Sea level Forecast for {{vm.getCity()}} at 9am:
    </h2>
</div>

<div class="col">

    <ul class="city-detail-view--forecast-list">
        <li ng-repeat="item in vm.getForecast()">
            <strong>{{::item.dt * 1000 | date:'EEEE d MMMM' }}</strong>: 
            {{::item.main.sea_level}}
        </li>
    </ul>

</div>

<div class="col">
    <div class="city-detail-view--imagecontainer">
        <img ng-src="{{vm.getCityImage()}}" alt="" />
    </div>
</div>