weather-nav{
    display: block;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0; right: 0;
    width: 100%;
    height: 100px;
    background: #000;
    color: red;
    padding: 20px;

    h1{
        font-weight: 300;
        font-size: 25px;
        margin-bottom: 20px;
        display: inline-block;
        vertical-align: middle;
    }
    span, a{
        color: #fff;
        font-size: 11px;
        opacity: 0.5;
    }

    .weather-nav--button-container{
        display: inline-block;
        vertical-align: middle;
        width: 0;
        height: 30px;
        transition: all 0.15s ease-in-out;        
        overflow: hidden;
        margin-right: 10px;

        &.active{
            width: 30px;
            opacity: 1;
            padding: 0;

            .btn.btn-primary{
                opacity: 1;
            }
        }

        .btn.btn-primary{
            width: 30px;
            height: 30px;
            background: #fff;
            border-radius: 15px;
            text-align: center;
            opacity: 0;

            &:hover{
                cursor: pointer;
                box-shadow: 0px 0px 10px rgba(255,255,255, 0.8);
            }
            &:focus{
                outline: 0;
            }
        }
    }
}