<div>
    <h1>
        <div
            class="weather-nav--button-container"
            ng-class="{'active' : vm.isDetailState() }"
        >
            <button 
                ng-click="vm.goBack()"
                class="btn btn-primary"            
            >
                <svg style="width:20px;height:20px" viewBox="0 0 24 24">
                    <path fill="#000000" d="M20,11V13H8L13.5,18.5L12.08,19.92L4.16,12L12.08,4.08L13.5,5.5L8,11H20Z" />
                </svg>
            </button>
        </div>
        <strong>Weather</strong>App
    </h1>

    <div class="credits">
        <span>Coen Warmer <a href="mailto:coen.warmer@gmail.com">coen.warmer@gmail.com</a></span>
    </div>

</div>