cities-list-view{
    > ul {
        list-style: none;
    }
    
    .cities-list--link{
        color: #000;
        display: block;
        margin-bottom: 4px;
        text-decoration: none;
        font-weight: normal;
        transition: all 0.15s ease-in;
        padding: 10px;        
        border-radius: 5px;

        &:hover{
            background: #ddd;
            padding-left: 15px;
        }
    }

    .cities-list--name{
        font-weight: 300;
        font-size: 20px;
        display: block;
        margin-bottom: 10px;
    }

    .cities-list--meta{
        display: block;
        svg, strong, span{
            display: inline-block;
            vertical-align: middle;
        }
    }

    .cities-list--timeslot{
        display: block;
        margin-right: 15px;
    }



}