.ui-view-container {
    position: relative;
    height: 65px;
}

ui-view.ng-enter, ui-view.ng-leave {
    position: absolute;
    left: 0;
    right: 0;
    transition:all .15s ease-in-out;
}

ui-view.ng-enter {
    opacity: 0;
    // transform:scale3d(0.5, 0.5, 0.5);
}

ui-view.ng-enter-active {
    opacity: 1;
    transform:scale3d(1, 1, 1);
}

ui-view.ng-leave {
    opacity: 1; 
    transform:translate3d(0, 0, 0);
}

ui-view.ng-leave-active {
    opacity: 0;
    transform:translate3d(100px, 0, 0);
}